{% extends "base.html" %}
{% block title %}
  Vocabulary Quiz
{% endblock %}
{% block content %}
<form class="quiz" method="post" action="{% url "quiz:quiz" username quiz_pk %}">
  {% csrf_token %}
  {% for question in questions %}
  <div class="card quiz-card">
    <h3 class="quiz-card__header">{{ question.word.word }}</h3>
    {% for option in question.options %}
    <div>
      <input type="radio" name="{{ question.word }}" value="{{ option }}" id="{{ question.word }}.{{ option }}" required>
      <label class="quiz-card__label" for="{{ question.word }}.{{ option }}">{{ option }}</label>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <div class="quiz-card__button">
    <button class="btn btn-main btn-lg" type="submit">Submit</button>
  </div>
</form>
{% endblock %}