{% extends "base.html" %}
{% block title %}
  Set up quiz
{% endblock %}
{% block content %}
<section class="setup-quiz">
  <a class="breadcrumbs" href="{% url "students:student_card" username %}">&lt; My card</a>
  <form class="setup-quiz__form" method="post">
    <h2 class="setup-quiz__header">Choose your quiz options</h2>
    {% csrf_token %}
    {% for curr_form in form %}
      <h3 class="setup-quiz__form-header">{{ curr_form.label_tag }}</h3>
      <div class="setup-quiz__form-body">
        {% for pk, choice in curr_form.field.widget.choices %}
        <div class="setup-quiz__input-group">
          <input id="id_{{ curr_form.name }}_{{ forloop.counter0 }}" name="{{ curr_form.name }}" type="{{ curr_form.field.widget.input_type }}" value="{{ pk }}">
          <label class="setup-quiz__input-label" for="id_{{ curr_form.name }}_{{ forloop.counter0 }}">{{ choice }}</label>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
    <input class="btn btn-form btn-lg" type="submit" value="Start Quiz">
  </form>
</section>
{% endblock %}