{% load static %}
<header class="header">
  <a href="{% url 'about:index' %}">
    <img class="logo" alt="Elizabeth Logo" src={% static 'img/CapyLOGO.png' %}>
  </a>

  <nav class="main-nav">
    <ul class="main-nav__list">
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a class="main-nav-user" href="{% url 'admin:index' %}">Admin zone</a>
        {% else %}
        <a class="main-nav-user" href="{% url 'students:student_card' request.user.username %}">My card</a>
        {% endif %}
      <div class="dropdown">
        <div class="dropbtn">{{ request.user }} &#9660;</div>
        <div class="dropdown-content">
          <a href="{% url 'users:password_change_form' %}">Change password</a>
          <a href="{% url 'users:edit_profile' request.user.pk %}">Edit profile</a>
          <a href="{% url 'users:logout' %}">Log out</a>
        </div>
      </div>
      {% else %}
      <li>
        <a class="main-nav-user" href="{% url 'users:login' %}">
        {% comment %} <img
          src="img/default.jpg"
          alt="User Photo"
          class="main-nav-user-photo"
        /> {% endcomment %}
          <span class="main-nav-user-name">Log in</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>