/***************************/
/*Custom bootstrap*/
/***************************/

.pagination-lg {
  --bs-pagination-font-size: 1.6rem;
  --bs-pagination-active-bg: #1864ab;
  --bs-pagination-color: #1864ab;
}

.progress {
  --bs-progress-height: 2rem;
  --bs-progress-font-size: 1.6rem;
}

/***************************/
/*BUTTONS*/
/***************************/

.btn {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 9px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-family: inherit;
  transition: all 0.3s;
}

.btn-lg {
  font-size: 2rem;
  padding: 1.2rem 2.8rem;
}

.btn-main {
  background-color: #1864ab;
  color: #fff;
}

.btn-main:hover,
.btn-main:active {
  background-color: #1c7ed6;
  color: #fff;
}

.btn-second {
  background-color: #fff;
  color: #1864ab;
}

.btn-second:hover,
.btn-second:active {
  box-shadow: inset 0 0 0 3px #1864ab;
  color: #1864ab;
}

.btn-danger {
  background-color: #d81c1c;
  color: #fff;
  padding: 1.3rem;
}

.btn-danger:hover,
.btn-danger:active {
  background-color: #f03f3f;
  color: #fff;
}

.btn-form {
  background-color: #1864ab;
  color: #fff;
  padding: 1.3rem;
}

.btn-form:hover,
.btn-form:active {
  color: #1864ab;
  background-color: #fff;
}

/***************************/
/*HEADER*/
/***************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1864ab;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4.8rem;
  filter: grayscale(50%);
}

.main-nav-user:link,
.main-nav-user:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #f1f3f5;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-user:hover,
.main-nav-user:active {
  color: #333;
}

.main-nav-user-photo {
  height: 3.75rem;
  border-radius: 50%;
}

.main-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  margin: 0;
}

.main-nav__list *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.175);
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #f1f3f5;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #333;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #f1f3f5;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
/***************************/
/*TITLE*/
/***************************/

.section-title {
  background-color: #f1f3f5;
  margin-top: 5rem;
}

.title {
  padding: 3.2rem 0 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.title__text--description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.title__text--achievemnts {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
}

.icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #1864ab;
}

.title__buttons {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.title__picture {
  filter: drop-shadow(5px -4px 4px rgba(51, 51, 51, 0.1));
}

.title-img {
  width: 100%;
  /* background-color: #dee2e6;
  border-radius: 50%; */
}

/***************************/
/*ABOUT*/
/***************************/

.about {
  padding: 4.8rem 3.2rem;
}

.progressbar__list {
  display: grid;
  padding: 3.2rem 0 1.6rem 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.6rem;
  list-style: none;
  text-align: center;
  counter-reset: step;
}

.progressbar__list--item {
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: all 0.3s;
}

.progressbar__list--item:hover,
.progressbar__list--item:hover::before {
  color: #f08c00;
  border-color: #f08c00;
  cursor: default;
}

.progressbar__list--item::before {
  content: counter(step);
  counter-increment: step;
  font-size: 2rem;
  height: 3.6rem;
  width: 3.6rem;
  border: 2px solid #1864ab;
  color: #1864ab;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 3.6rem;
  background-color: #fff;
  z-index: 9;
}

.progressbar__list--item::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: #333;
  top: 1.8rem;
  left: -60%;
  z-index: 1;
}

.progressbar__list--item:first-child:after {
  content: none;
}

.about__text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.6rem;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  line-height: 1.5;
}

.about-img {
  width: 100%;
}

.about__text--abstract {
  grid-column: 2/ -1;
}

.about__text--abstract span {
  text-transform: uppercase;
  color: #1864ab;
}

/***************************/
/*EXPERIENCE*/
/***************************/
.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;

  background-color: #f1f3f5;
}

.experience__picture {
  background-image: url(../img/polytech.jpg);
  object-fit: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-img {
  width: 60%;
}

.experience__text {
  padding: 4.8rem;
}

.experience__text .subheading,
.experience__text .heading-secondary {
  text-align: center;
}

.experience__table {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 4.8rem;
  align-items: center;
}

.experience__table--text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.experience__table--text {
  font-size: 1.6rem;
  line-height: 1.2;
}

.experience__table--time {
  font-size: 2rem;
  font-weight: 600;
  color: #1864ab;
}

/***************************/
/*TESTIMONIALS*/
/***************************/
.section-testimonials {
  background-color: #e7f5ff;
}

.testimonials {
  padding: 4.8rem 3.2rem 5.6rem 3.2rem;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.4rem;
}

.review {
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.review__text {
  font-size: 1.6rem;
  line-height: 1.4;
}

.review__user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.review__user-age {
  font-size: 1rem;
  color: #999;
}

.review--1 {
  grid-column: 5 / -1;
  grid-row: 2 / 3;
}

.review--2 {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.review--3 {
  grid-column: 2 / -1;
  grid-row: 3 / -1;
}

.review--4 {
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.review--5 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.review--6 {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}

.review--7 {
  grid-column: 1 / 2;
  grid-row: 3 / -1;
}

/***************************/
/*PRICES*/
/***************************/
.prices {
  padding: 4.8rem 3.2rem 5.6rem 3.2rem;
}

.prices .subheading,
.prices .heading-secondary {
  text-align: center;
}

.prices__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.prices__card {
  padding: 3.2rem;
  border-radius: 1rem;
  border: 2px solid #1864ab;
}

.prices__card--special {
  scale: 1.05;
  background-color: #e7f5ff;
  position: relative;
  overflow: hidden;
}

.prices__card--special::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -22%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #e7f5ff;
  background-color: #1864ab;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.prices__header {
  text-align: center;
}

.prices__name {
  color: #f08c00;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.prices__number {
  font-size: 4.6rem;
  font-weight: 600;
  color: #333;
  display: block;
  padding: 1.6rem 0;
  border-top: 2px solid #1864ab;
  border-bottom: 2px solid #1864ab;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.list-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  fill: #f08c00;
}

/***************************/
/*CTA*/
/***************************/
.section-cta {
  padding: 9.6rem 0 9.6rem 0;
  /* display: flex;
  justify-content: center; */
}

.cta {
  padding: 4.8rem;
  background-color: #1c7ed6;
  border-radius: 1rem;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.cta__header {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  margin-top: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #999;
}

.cta-form__error {
  color: rgb(245, 60, 60);
  text-align: center;
  margin-top: 2.0rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.cta-form__error ~ .cta-form {
  margin-top: 2rem;
}

.cta-form__help-text {
  color: white;
  display: flex;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.175);
}

@media (min-width: 51.25em) {
  .double-wide {
    grid-column: span 2;
  }
}

/***************************/
/*FOOTER*/
/***************************/

.section-footer {
  background-color: #f1f3f5;
  flex-shrink: 0;
}

.footer {
  padding: 3.2rem 3.2rem 1.6rem 3.2rem;
}

.footer__text {
  text-align: center;
}

.footer__text--main {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  margin: 1.6rem 0 1.2rem 0;
}

.footer-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: inherit;
  display: block;
}

.footer-prof {
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.copyright {
  font-size: 1.2rem;
}

/***************************/
/*DROPDOWN*/
/***************************/

.dropbtn {
  background-color: #1864ab;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 1.6rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #007ef3;
}

/***************************/
/*CARD*/
/***************************/

.card {
  background-color: #fff;
  margin: 6rem;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  border: none;
}

.card_success {
  box-shadow: 0.5rem 0.5rem 1.5rem #6ad8b29d !important;
}

.card_wrong {
  box-shadow: 0.5rem 0.5rem 1.5rem #d86a6a9d;
}

.card__header {
  font-weight: 600;
  font-size: 4rem;
}

.card__text {
  font-weight: 400;
  font-size: 2rem;
}

/***************************/
/*STUDENT CARD*/
/***************************/

.student-card-container {
  max-width: 1400px;
  margin: 0 auto;
}

.student-card {
  margin: 4rem 6rem;
  padding: 0;
  gap: 0;
  justify-content: space-between;
}

.student-card__header {
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 2px solid #1864ab;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.student-card__title {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.student-card__subtitle {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.student-card__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 0;
}

.student-card__nav {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
  background-color: #e7f5ff;
  border-radius: 0 0 1rem 1rem;
  min-height: 5rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.student-card__nav-link {
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
  transition: ease-in-out 0.2s;
  color: #333;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.student-card__nav-link:hover,
.student-card__nav-link:active {
  color: #999;
}

/***************************/
/*Homework-card*/
/***************************/
.homework-card {
  background-color: #fff;
  margin: 2rem 6rem;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.homework-card:last-of-type {
  margin-bottom: 5rem;
}

.homework-card__heading {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1864ab;
}

.homework-card__header {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.homework-card__buttons {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.homework-card__button {
  text-decoration: none;
  color: #333;
  transition: ease-in-out 0.2s;
}

.homework-card__button:hover,
.homework-card__button:active {
  color: #999;
}

.homework-card__checkbox-label {
  font-weight: 400;
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.homework-card__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.homework-card__footer {
  display: flex;
  justify-content: end;
}

/***************************/
/*Accordion*/
/***************************/

.accordion-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 5rem 1.5rem;
}

.accordion-container__header {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.accordion-item {
  border-radius: .4rem;
}

.accordion-item hr {
  border: 1px solid #1864ab;
}

.accordion-link {
  font-size: 1.6rem;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.accordion__header {
  color: black;
  font-size: 3rem;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.accordion-link:hover .accordion__header {
  color: #707070;
}

.accordion-link i {
  padding: .5rem;
}

.accordion-link div {
  display: flex;
}

.accordion-link .ion-md-arrow-down {
  display: none;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 1.5s;
}

.accordion__list {
  padding-bottom: 1.6rem;
  list-style: none;
}

.accordion__list-item {
  padding: 1rem;
}

.accordion__link {
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: ease-in-out 0.3s;
}

.accordion__link:hover {
  color: #999;
}

.accordion-item:target .accordion__content {
  max-height: 100rem;
}

.accordion__link_subheading {
  font-size: 1.6rem;
  font-weight: 400;
}

.ion-md-arrow-forward,
.ion-md-arrow-down {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
  display: block;
}

/***************************/
/*Dictionary*/
/***************************/

.section-dictionary {
  padding: 2rem;
  gap: 2rem;
  background-color: #f1f3f5;
  display: flex;
  justify-content: space-between;
}

.dictionary-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.empty-space {
  width: 20%;
}

.dictionary-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.breadcrumbs {
  flex-grow: 1;
  font-size: 1.6rem;
  max-width: 20%;
  align-self: flex-start;
  padding-bottom: 2rem;
}

.breadcrumbs:last-of-type {
  padding-bottom: 0;
}

.table {
  font-size: 1.6rem;
  line-height: 2.3rem;
}

.dictionary-form {
  align-self: center;
  gap: 1rem;
  display: grid;
  grid-template-columns: 8rem repeat(3, 1fr);
  grid-template-rows: 3rem 2rem 2rem;
  grid-template-areas:
  "label-input input input button"
  "label-order radio_alphabet radio_date ."
  ". label-order_alphabet label-order_date ."
}

.dictionary-form__input {
  grid-area: input;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dictionary-form__label {
  padding-right: 2rem;
  align-self: center;
  text-align: end;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.dictionary-form__radio {
  height: 70%;
  align-self: end;
}

.dictionary-form__radio-label {
  font-size: 1.6rem;
  text-align: center;
}

.dictionary-form__radio_alphabet {
  grid-area: radio_alphabet;
}

.dictionary-form__radio_date {
  grid-area: radio_date;
}

.dictionary-form__label_input {
  grid-area: label-input;
}

.dictionary-form__label_order {
  grid-area: label-order;
}

.dictionary-form__label-order_alphabet {
  grid-area: label-order_alphabet;
}

.dictionary-form__label-order_date {
  grid-area: label-order_date;
}

.dictionary-form__search-button {
  font-size: 1.6rem;
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***************************/
/*QUIZ SETUP*/
/***************************/

.setup-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 4rem 2rem;
}

.setup-quiz__header {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.setup-quiz__form {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: #1c7ed6;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 4.8rem rgba(0, 0, 0, 0.15);
  padding: 4.8rem;
}

.setup-quiz__form-header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.setup-quiz__form-body {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-evenly;
  width: 50%;
  font-size: 1.6rem;
}

.setup-quiz__input-group {
  display: flex;
  flex-direction: column;
}

.setup-quiz__input-label {
  margin-top: 1rem;
  font-size: 1.6rem;
}

/***************************/
/*QUIZ*/
/***************************/

.quiz {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.quiz-card {
  margin: 0;
  padding: 2.4rem 4rem;
  gap: 1.5rem;
  border: none;
}

.quiz-card__header {
  font-size: 3rem;
  font-weight: 500;
}

.quiz-card__label {
  font-size: 1.6rem;
}

.quiz-card__button {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.input_is-valid {
  background-color: #198754;
  border-color: #198754;
}

.quiz__result {
  margin: 0;
  font-size: 1.6rem;
}

.quiz__breadcrumbs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
}

/***************************/
/*PROGRESS*/
/***************************/

.progress-container {
  padding: 2rem 5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.progress__header {
  margin: 1rem;
  text-align: center;
}

.confirm-delete__buttons {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  gap: 2rem;
}

/***************************/
/*MESSAGE*/
/***************************/

.message {
  margin: 2rem 6rem 2rem 6rem;
  padding: 1.25rem 1rem;
  font-size: 1.6rem;
}

.message__text {
  font-size: 1.6rem;
  margin: 0 2rem 0 0;
}