{% extends "base.html" %}
{% block title %}New password{% endblock %}
{% block stylesheets %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
{% if validlink %}
{% with card_header='Enter new password' button='Set new password' btn_double_wide='double-wide' input_double_wide='' %}
  {% include 'includes/generic_form.html' %}
{% endwith %}
{% else %}
  {% with card_header='Error' card_body='The password reset link is invalid or out of date.' %}
    {% include 'users/includes/card.html' %}
  {% endwith %}
{% endif %}
{% endblock %}