{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock %}
{% block stylesheets %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<section class="section-dictionary">
  <a class="breadcrumbs" href="{{ student.get_absolute_url }}">&lt; My card</a>
  <div class="dictionary-header">
    <div class="dictionary-buttons">
      <a class="btn btn-main" href="{% url 'dictionary:add_word' student.username %}">Add word</a>
      <a class="btn btn-second" href="{% url 'dictionary:download_dictionary' student.username %}">Download Dictionary</a>
    </div>
    <form class="dictionary-form" method="get">
      <label class="dictionary-form__label dictionary-form__label_input" for="wordSearch">Word</label>
      <input class="dictionary-form__input" name="q" type="text" placeholder="Search..." id="wordSearch">

      <label class="dictionary-form__label dictionary-form__label_order">Sort by</label>
      <input class="dictionary-form__radio dictionary-form__radio_alphabet" type="radio" name="o" id="inlineRadio1" value="alphabet" {% if order != "date" %}checked{% endif %}>
      <label class="dictionary-form__radio-label dictionary-form__label-order_alphabet" for="inlineRadio1">Alphabet</label>

      <input class="dictionary-form__radio dictionary-form__radio_date" type="radio" name="o" id="inlineRadio2" value="date" {% if order == "date" %}checked{% endif %}>
      <label class="dictionary-form__radio-label dictionary-form__label-order_date" for="inlineRadio2">Date</label>
      <button type="submit" class="btn btn-main dictionary-form__search-button">Search</button>
    </form>
  </div>
  <div class="empty-space">
  </div>
</section>
<section class="container py-5">
  <div class="table-responsive">
    <table class="table table-striped caption-top align-middle" id="dictionary">
      <caption>Total words: {{ word_count }}</caption>
      <thead>
        <tr>
          <th scope="col">Edit</th>
          <th scope="col">Word</th>
          <th scope="col">Transcription</th>
          <th scope="col">Translation</th>
          <th scope="col">Example</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for word in dictionary %}
        <tr>
          <td>
            <a href="{% url 'dictionary:edit_word' student.username word.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
          </td>
          <td>{{ word.word }}</td>
          <td>{{ word.transcription }}</td>
          <td>{{ word.translation }}</td>
          <td>{% if word.example %}{{ word.example }}{% else %} - {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% include 'includes/paginator.html' %}
</section>
{% endblock %}