{% extends "base.html" %}
{% block title %}
  Vocabulary Quiz
{% endblock %}
{% block content %}
<form method="post" action="{% url "dictionary:quiz" username mode number_of_words %}">
  {% csrf_token %}
  {% for questions in questions %}
  <div class="col-10 mx-auto card">
    <div class="card-body ms-4">
      <h3 class="card-title mb-3">{{ questions.word }}</h3>
      {% for option in questions.options %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ questions.word }}" value="{{ option }}" id="{{ questions.word }}.{{ option }}" required>
        <label class="form-check-label" for="{{ questions.word }}.{{ option }}">{{ option }}</label>
        <br>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
  {% endfor %}
  <div class="d-grid col-4 mx-auto">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</form>
{% endblock %}