{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <a href="{{ student.get_absolute_url }}" class="card-link">< My card</a>
    </div>
    <div class="vstack gap-3 col-md-1 mx-auto">
      <a href="{% url 'students:add_word' student.username %}" class="btn btn-secondary" style="padding: 14px 14px;font-size:12px">Add word</a>
      <a href="{% url 'students:download_dictionary' student.username %}" class="btn border-btn" style="padding: 14px 14px;font-size:12px">Download Dictionary</a>
      <form class="row g-3 text-center" method="get">
        <div class="col-auto">
          Find word
        </div>
        <div class="col-auto">
          <label class="visually-hidden">Word</label>
          <input class="form-control" name="q" type="text" placeholder="Search...">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3" style="padding: 14px 14px;font-size:12px">Search</button>
        </div>
      </form>
    </div>
    <div class="col text-center">
      Total words: {{ word_count }}
    </div>
  </div>
</div>
</br>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Word</th>
          <th scope="col">Translation</th>
          <th scope="col">Example</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for word in dictionary %}
        <tr>
            <td>{{ word.word }}</td>
            <td>{{ word.translation }}</td>
            <td>{{ word.example }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'includes/paginator.html' %}
{% endblock %}