{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <a href="{% url 'students:student_card' username %}" class="card-link">< My card</a>
    </div>
    <div class="card-body text-center">
      <a href="{% url 'students:add_word' username %}" class="btn btn-secondary">Add word</a>
      <a href="{% url 'students:download_dictionary' username %}" class="btn btn-secondary">Download Dictionary</a>
    </div>
    <div class="col text-center" style="padding-top: 12px;">
      Total words: {{ word_count }}
    </div>
  </div>
</div>
</br>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Word</th>
          <th scope="col">Translation</th>
          <th scope="col">Example</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for word in dictionary %}
        <tr>
            <td>{{ word.word }}</td>
            <td>{{ word.translation }}</td>
            <td>{{ word.example }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}