{% extends "base.html" %}
{% block title %}
List of students
{% endblock %}
{% block stylesheets %}
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="accordion-container">
  <h2 class="accordion-container__header">Students</h2>
  <div class="accordion">
    <div class="accordion-item" id="active">
      <a class="accordion-link" href="#active">
        <h3 class="accordion__header">Active students</h3>
        <i class="icon ion-md-arrow-forward"></i>
        <i class="icon ion-md-arrow-down"></i>
      </a>
      <div class="accordion__content">
        <ul class="accordion__list">
          {% for student in student_list.active %}
          <li class="accordion__list-item">
            <a class="accordion__link" href="{{ student.get_absolute_url }}">
              <h5>{{ student }}</h5>
              <small>{{ student.aim }}</small>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <hr>
    </div>
    <div class="accordion-item" id="inactive">
      <a class="accordion-link" href="#inactive">
        <h3 class="accordion__header">Inactive students</h3>
        <i class="icon ion-md-arrow-forward"></i>
        <i class="icon ion-md-arrow-down"></i>
      </a>
      <div class="accordion__content">
        <ul class="accordion__list">
          {% for student in student_list.inactive %}
          <li class="accordion__list-item">
            <a href="{{ student.get_absolute_url }}">
              <h5>{{ student }}</h5>
              <small>{{ student.aim }}</small>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <hr>
    </div>
  </div>
</section>

{% endblock %}