{% extends "base.html" %}
{% block title %}
  {{ student }} card
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ student }} {% if not student.is_active %} (inactive) {% endif %}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ student.age }} years old</h6>
    <p class="card-text">Aim of education: {{ student.aim }}</p>
    {% if request.user.is_superuser %}<a href="{% url 'students:add_homework' student.username %}" class="card-link">Add homework</a>{% endif %}
    <a href="{% url 'dictionary:dictionary' student.username %}" class="card-link">My dictionary</a>
    <a href="{% url 'quiz:quiz_setup' student.username %}" class="card-link">Dictionary quiz</a>
    <a href="{% url 'students:progress' student.username %}" class="card-link">My progress</a>
  </div>
</div>
{% if student.homework.all %}
  <form action="" method="POST">
    {% csrf_token %}
    <div class="container text-center">
      <div class="hstack gap-3">
        <h3 style="padding-top: 20px;padding-bottom: 20px;"> Homework: </h3>
        <button class="btn btn-secondary" style="padding: 14px 14px;font-size:12px" type="submit">Update status of homeworks</button>
      </div>
    </div>
    {% for homework in page_obj %}
    <div class="card {% if homework.done %}border-success{% endif %}">
      <div class="card-header hstack gap-3">
        Homework for {{ homework.date|date:"d E Y" }}
        <div class="vr"></div>
        {% if request.user.is_superuser %}
        <a href="{% url 'students:edit_homework' student.username homework.pk %}" class="card-link">Edit homework</a>
        <a type="button" class="btn-close" aria-label="Close" href="{% url 'students:delete_homework' student.username homework.pk %}"></a>
        {% endif %}
      </div>
      <div class="card-body">
        {{ homework.description|linebreaks }}
      </div>
      <div class="card-footer d-flex {% if homework.done %}text-bg-success{% endif %}">
        <div class="form-check">
          Done<input class="form-check-input" type="checkbox" {% if homework.done %}checked{% endif %} value={{ homework.id }} name="boxes">
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </form>
{% include 'includes/paginator.html' %}
{% endif %}
{% endblock %}