{% extends "base.html" %}
{% block title %}
  {{ student }} card
{% endblock %}
{% block stylesheets %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="card student-card">
  <div class="student-card__header">
    <h2 class="student-card__title">{{ student }} {% if not student.is_active %} (inactive) {% endif %}</h2>
    <h5 class="student-card__subtitle">{{ student.age }} years old</h5>
    <p class="student-card__text">Aim of education: {{ student.aim }}</p>
  </div>
  <ul class="student-card__nav">
    {% if request.user.is_superuser %}
    <li><a class="student-card__nav-link" href="{% url 'students:add_homework' student.username %}">Add homework</a></li>
    {% endif %}
    <li><a class="student-card__nav-link" href="{% url 'dictionary:dictionary' student.username %}">My dictionary</a></li>
    <li><a class="student-card__nav-link" href="{% url 'quiz:quiz_setup' student.username %}">Dictionary quiz</a></li>
    <li><a class="student-card__nav-link" href="{% url 'students:progress' student.username %}">My progress</a></li>
  </ul>
</div>
{% if student.homework.all %}
<form action="" method="POST">
  {% csrf_token %}
  <div class="update-btn-container">
    <button class="btn btn-main" type="submit">Update homework statuses</button>
  </div>
  {% for homework in page_obj %}
  <div class="card homework-card{% if homework.done %} card_success{% endif %}">
    <div class="homework-card__heading">
      <h3 class="homework-card__header">Homework for {{ homework.date|date:"d E Y" }}</h3>
      {% if request.user.is_superuser %}
      <div class="homework-card__buttons">
        <a class="homework-card__button" href="{% url 'students:edit_homework' student.username homework.pk %}" type="button">&#9998;</a>
        <a class="homework-card__button" href="{% url 'students:delete_homework' student.username homework.pk %}" type="button">&#10006;</a>
      </div>
      {% endif %}
    </div>
    <div class="homework-card__text">
      {{ homework.description|linebreaks }}
    </div>
    <div class="homework-card__footer">
      <input class="homework-card__checkbox" type="checkbox" {% if homework.done %}checked{% endif %} value={{ homework.id }} id={{ homework.id }} name="boxes">
      <label class="homework-card__checkbox-label" for="{{ homework.id }}">Done</label>
    </div>
  </div>
  {% endfor %}
</form>
{% include 'includes/paginator.html' %}
{% endif %}
{% endblock %}